body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f4f7f9;
  font-size: 17px;
}

.header-up {
    background-color: #293449;
    color: white;
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 -3px 0 0 #b52933 inset;
}

.main-footer .logo {
  box-shadow: 0 -5px 0 0 #b52933 inset;
}

.preferences,
.site-navigation,
.user-navigation,
.user-navigation-authorized {
  list-style: none;
}

.preferences a,
.site-navigation a {
  color: white;
}

.preferences li:last-child {
  background-color: #63a63e;
}

.search input {
  background-color: #293449;
  border-width: 0;
}

.search input:hover,
.preferences li:hover {
  background-color: #212a3a;
}

.preferences li:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.preferences li:last-child:hover {
  background-color: #5fbb2d;
}

.preferences li:last-child:active {
  background-color: #518534;
}

.search input:focus {
  background-color: white;
  color: black;
}

input[type="search"]::-webkit-input-placeholder {
  color: white;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}

input[type="search"]::-ms-input-placeholder {
  color: white;
}

input[type="search"]::placeholder {
  color: white;
}

.description {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}

.address {
  color: #32425c;
  font-size: 14px;
  text-align: center;
}

.address a {
  color: #ee3643;
  font-size: 21px;
  border: 3px solid white;
}

.user-navigation,
.user-navigation-authorized {
  background-color: white;
  font-size: 21px;
}

.user-navigation a,
.user-navigation-authorized a {
  color: #000000;
}

.user-navigation-authorized li:nth-child(2) a {
  color: #c5c5c5;
}

.user-navigation-authorized li:nth-child(2) a:hover {
  color: #293449;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-authorized a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account a {
  color: #32425c;
}

.account a:hover {
  color: #ee3643;
}

.account a:active {
  color: rgba(50, 66, 92, 0.3)
}

.account li {
  list-style: none;
}

.account a {
  font-size: 16px;
  color: #32425c;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0 -3px 0 0 #293449 inset;
}

.site-navigation li:hover {
  background-color: #1d2739;
  box-shadow: 0 -3px 0 0 #293449 inset;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.promo a {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}
.promo li {
  list-style: none;
  color: white;
  font-size: 24px;
  width: 300px;
  height: 123px;
  padding-top: 26px;
  padding-left: 23px;
}

.promo li:first-child {
  background-color: #ffbf47;
  background-repeat: no-repeat;
  background-position: 200px 20px;
}

.promo li:nth-child(2) {
  background-color: #3bbce3;
}

.promo li:nth-child(3) {
  background-color: #dc91d8;
}

.promo li:nth-child(4){
  background-color: #8ed78f;
}

.promo li:last-child {
  background-color: #ffc047;
}

.button-promo {
  background-color: rgba(0, 0, 0, 0.1);
}

.button-promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item a {
  width: 138px;
  height: 38px;
}

.slider {
  background-color: #cccccc;
  font-size: 18px;
  color: white;
}

.slider b {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
}

.main-section h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.main-section li {
  list-style: none;
}

.product-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.product-item .line-through {
  font-size: 17px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.button-product {
  background-color: #ee3643;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.brands-item {
  border: 1px solid #eaeaea;
}

.brands-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active img {
  opacity: 30%;
}

.service {
  background-color: #f4f8fa;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.about-company h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.service li {
  list-style: none;
}

.service-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  color: white;
  border-width: 0;
}

.service-button:hover {
  background-color: #293449;
}

.about-company li {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.about-company span {
  font-weight: bold;
  color: #ee3643;
}

.modal,
.map {
  display: none;
}

.footer-up {
  background-color: #32425c;
}

.footer-down {
  background-color: #293449;
}

.main-footer p,
.main-footer a {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.footer-up a:active,
.catalog-navigation a:active {
  opacity: 50%;
}

.main-footer li {
  list-style: none;
}

.catalog-navigation a {
  color: #ffd180;
}

.footer-down p,
.footer-down a {
  font-size: 16px;
  line-height: 18px;
}

.social {
  background-color: #212a3a;
}

.social:hover,
.social:active  {
  background-color: #ee3643;
}

.development a {
  color: #ffd180;
}

.development a:active {
  color: #ee3643;
  border-width: 0;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs a {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
}

.catalog h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.filter {
  font-family: 'PT Sans', sans-serif;
}

.filter-button {
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: white;
}

.button-border {
  border: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: middle;
}

.filter-name {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.filter fieldset {
  border: 0;
}

.brands li,
.power li {
  list-style: none;
}

.brands label,
.power label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

/* шрифты
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
