body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: black;
}

a {
  text-decoration: none;
}

.button {
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 2px;
  height: 38px;
  padding: 14px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  background-color: #f4f7f9;
  font-size: 17px;
  height: 320px;
}

.header-up {
  background-color: #293449;
  color: white;
  height: 42px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-logo {
  display: flex;
  height: 42px;
}

.user-action {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 42px;
  padding: 0;
}

.logo {
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 -5px 0 0 #9a212a inset;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 -5px 0 0 #8e1e26 inset;
}

.main-footer .logo {
  box-shadow: 0 -5px 0 0 #b52933 inset;
}

.preferences,
.site-navigation,
.user-navigation,
.user-navigation-authorized {
  list-style: none;
}

.preferences a,
.site-navigation a {
  color: white;
}

.preferences li:last-child {
  background-color: #63a63e;
  padding-left: 20px;
  padding-right: 20px;
}

.search-input {
  display: flex;
  align-items: center;
  padding-left: 17px;
}

.search input {
  background-color: #293449;
  border-width: 0;
}

.search input:hover,
.preferences li:hover {
  background-color: #212a3a;
}

.preferences {
  display: flex;
  align-items: center;
}

.preferences li {
  padding: 0 30px;
  height: 42px;
  display: flex;
  align-items: center;
}

.preferences li:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.preferences li:last-child:hover {
  background-color: #5fbb2d;
}

.preferences li:last-child:active {
  background-color: #518534;
}

.full {
  background-color: #ee3643
}

.search input:focus {
  background-color: white;
  color: black;
}

input[type="search"]::-webkit-input-placeholder {
  color: white;
}

input[type="search"]:-ms-input-placeholder {
  color: white;
}

input[type="search"]::-ms-input-placeholder {
  color: white;
}

input[type="search"]::placeholder {
  color: white;
}

.inform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0;
  margin-top: 46px;
  margin-bottom: 44px;
}

.description {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  padding-left: 52px;
  margin: 0;
}

.address {
  color: #32425c;
  font-size: 14px;
  line-height: 35px;
  text-align: center;
  margin: 0;
}

.address a {
  color: #ee3643;
  font-size: 21px;
  border: 3px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 52px;
  padding-left: 74px;
}

.user-navigation,
.user-navigation-authorized {
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.user-navigation li,
.user-navigation-authorized li {
  background-color: white;
  margin-left: 10px;
  padding: 0 25px;
  height: 45px;
  display: flex;
  align-items: center;
}

.user-navigation-authorized li {
  margin: 0;
}

.user-navigation a,
.user-navigation-authorized a {
  color: #000000;
}

.user-navigation-authorized li:nth-child(2) a {
  color: #c5c5c5;
}

.user-navigation-authorized li:nth-child(2) a:hover {
  color: #293449;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation-authorized a:active {
  color: rgba(0, 0, 0, 0.3);
}

.account-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.account {
  display: flex;
  justify-content: flex-start;
  width: 299px;
  margin: 0;
  padding-left: 17px;
  position: relative;
}

.account a {
  color: #32425c;
  text-decoration: underline;
}

.account a:hover {
  color: #ee3643;
}

.account a:active {
  color: rgba(50, 66, 92, 0.3)
}

.account li {
  list-style: none;
}

.account li:first-child::after {
  content: "•";
}

.account li:last-child::after {
  content: "";
  position: absolute;
  background-image: url("img/icon/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.account a {
  font-size: 16px;
  color: #32425c;
  padding: 15px;
}

.site-navigation {
  background-color: #32425c;
  box-shadow: 0 -3px 0 0 #293449 inset;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 0;
  margin: 0;
}

.site-navigation li:hover {
  background-color: #1d2739;
  box-shadow: 0 -3px 0 0 #293449 inset;
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}
.promo-offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.promo-item {
  list-style: none;
  color: white;
  font-size: 24px;
  width: 277px;
  height: 78px;
  padding-top: 26px;
  padding-left: 23px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo li:first-child {
  background-color: #ffbf47;
  background-image: url("img/icon/icon-bucket.svg");
  background-repeat: no-repeat;
}

.promo li:nth-child(2) {
  background-color: #3bbce3;
}

.promo li:nth-child(3) {
  background-color: #dc91d8;
}

.promo li:nth-child(4){
  background-color: #8ed78f;
}

.promo li:last-child {
  background-color: #ffc047;
}

.button-promo {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-promo:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item a {
  width: 138px;
  height: 38px;
}

.slider {
  background-color: #cccccc;
  font-size: 18px;
  color: white;
}

.slider b {
  font-size: 36px;
  text-transform: uppercase;
  color: white;
}

.main-section h2 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f9f5f0;
}

.main-section li {
  list-style: none;
}

.popular {
  padding: 0;
  margin: 0;
}

.product-item {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid #e5e5e5;
}

.product-item .line-through {
  font-size: 17px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.button-product {
  background-color: #ee3643;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.brands-item {
  border: 1px solid #eaeaea;
}

.brands-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.brands-item:active img {
  opacity: 30%;
}

.service {
  background-color: #f4f8fa;
  margin: 0;
}

.service h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.service li {
  list-style: none;
}

.service-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  background-color: #32425c;
  color: white;
  border-width: 0;
}

.service-button:hover {
  background-color: #293449;
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 536px;
  padding-top: 52px;
}

.about-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-company h2,
.contacts h2,
.service h2  {
  font-size: 30px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.delivery-company {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.about-company li {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  margin: 12px 0;
}

.about-company span {
  font-weight: bold;
  color: #ee3643;
}

.about-company a {
  width: 220px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.contacts p {
  margin-bottom: 36px;
}
.contacts a {
  margin-bottom: 40px;
}

.modal,
.map {
  display: none;
}

.main-footer {
  background-color: #32425c;
  height: 300px;
  margin: 0;
}
.footer-up {
  height: 193px;
}

.container-row {
  display: flex;
  justify-content: space-between;

  width: 940px;
  margin: 0 auto;
  padding: 0;
  }

.footer-up .container-row {
  margin-bottom: 12px;
}

.footer-logo {
  display: flex;
  height: 63px;
}

.company-navigation {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.company-navigation li,
.catalog-navigation li {
  padding-left: 30px;
  padding-right: 30px;
}

.company-navigation li:last-child,
.catalog-navigation li:last-child {
  padding-right: 0;
}

.catalog-navigation {
  display: flex;
  align-items: flex-start;
}

.footer-down {
  background-color: #293449;
  height: 107px;
  margin: 0;
  padding: 0;
}

.footer-down .container-row {
  height: 107px;
  align-items: center;
}

.main-footer p,
.main-footer a {
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.company-navigation a:active,
.catalog-navigation a:active {
  opacity: 50%;
}

.main-footer li {
  list-style: none;
}

.catalog-navigation a {
  color: #ffd180;
}

.footer-down p,
.footer-down a {
  font-size: 16px;
  line-height: 18px;
}

.social {
  display: flex;
}

.social-icon {
  background-color: #212a3a;
}

.social-icon:hover,
.social-icon:active  {
  background-color: #ee3643;
}

.development {
  display: flex;
}

.development p {
  padding-left: 53px;
}

.development span {
  display: block;
}

.development:last-child {
  padding-right: 15px;
}

.development a {
  color: #ffd180;
}

.development a:active {
  color: #ee3643;
  border-width: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 59px;
}

.breadcrumbs li {
  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: ">";
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  margin-left: -20px;
  margin-right: 20px;
}

.breadcrumbs a {
  color: black;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding-right: 40px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.filter-list {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin: 0;
  padding: 0;
}

.filter-head,
.filter-sort,
.product-item {
  margin-bottom: 21px;
}

.filter-head {
  display: flex;
  align-items: center;
  width: 220px;
  height: 38px;
  background-color: #f7f3ec;
}

.sort h3,
.filter-head h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  padding-left: 18px;
}

.filter-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
}

.sort,
.sort2,
.sort3,
.sort4 {
  display: flex;
}

.sort2 li,
.sort4 li {
  list-style: none;
}

.filter-selection {
  display: flex;
  justify-content: flex-end;
}

.filter-selection button,
.sort3 button {
  background-color: #f7f3ec;
  border: 0;
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  margin: 0;
  padding: 0;
}

.catalog-header {
  display: flex;
  align-items: center;
  height: 89px;
  background-color: #f2f6f8;
  order: 2;
  padding-left: 30px;
  margin-bottom: 20px;
}

.catalog-header h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #32425c;

}

.filter-button {
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: white;
}

.button-border {
  border: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: middle;
}

.filter-name {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.filter fieldset {
  border: 0;
}

.brands li,
.power li {
  list-style: none;
}

.brands label,
.power label {
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog h2 {
  order: 2;
}

.catalog-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item li {
  list-style: none;
  margin-bottom:
}

/* шрифты
font-family: 'Cuprum', sans-serif;
font-family: 'PT Sans', sans-serif;
*/
